extends layout 

block main 
  div.main
    h1 #{currentGuess}
    h3.guesses Guesses left: #{guessesLeft}
  div.buttons
    div.left
      a(href="/guess/higher") 
        button.higher 
          i.fas.fa-arrow-up 
    div.right
      a(href="/guess/lower") 
        button.lower
          i.fas.fa-arrow-down
         
