extends layout 

block main 
  div.main
    h1 #{currentGuess}
    h3.guesses Guesses left: #{guessesLeft}
  div.buttons
    div.left
      a(href="/guess/higher") 
        button.higher Higher
    div.right
      a(href="/guess/lower") 
        button.lower Lower 
