extends layout
block main 
  div.main
    form.minmax(action="setup" method="post")
      div.min
        label(for="min") Minimum: 
        input(type="tel" id="min" name="min" placeholder="1" value=1)
      div.max
        label(for="max") Maximum: 
        input(type="tel" id="max" name="max" placeholder="1000" value=1000)
      div.mid
        input.start(type="submit" value="Start!")