body {
  font-family: "M PLUS 1 Code", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  color: rgb(255, 248, 240);
  background-color: rgb(30, 30, 36);
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "title title "
    "main main "
    "buttons buttons";
  align-items: start;
  justify-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: rgb(255, 248, 240);
}
button,
input[type="submit"] {
  border: none;
  background-color: rgb(146, 20, 12);
  color: rgb(255, 248, 240);
}
form {
  text-align: center;
}
h1.title {
  color: rgb(255, 207, 153);
  font-size: 6rem;
  margin: none;
  padding: none;
}
h1 {
  text-align: center;
  font-size: 5em;
}
h3 {
  color: rgb(255, 248, 240);
  text-align: center;
  font-size: 2rem;
  padding: 0 5%;
}
h3.guesses {
  color: rgb(255, 207, 153);
}

label {
  font-size: 3rem;
  display: block;
}

input,
button {
  font-family: "M PLUS 1 Code", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  margin: none;
  padding: 2% 15%;
}
input[type="text"] {
  border: none;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 6px;
  color: rgb(30, 30, 36);
  background-color: rgb(155, 155, 171);
  width: 40%;
  margin-bottom: 5%;
}
input.start {
  margin-top: 10%;
}
button,
input.start {
  background-color: rgb(146, 20, 12);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: rgb(255, 248, 240);
  font-size: 3em;
}
button:hover,
input.start:hover {
  background-color: rgb(132, 19, 11);
}

div.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left mid right";
}
div.mid {
  grid-area: mid;
}
div.left {
  grid-area: left;
  text-align: right;
}
div.right {
  grid-area: right;
}
div.main {
  grid-area: main;
}
div.title {
  grid-area: title;
  align-self: start;
}

li.flash {
  color: rgb(226, 32, 18);
  list-style-type: none;
  font-size: 2em;
  padding-top: 5px;
}
ul {
  text-align: center;
  margin: none;
  padding: none;
  padding-inline-start: 0px;
}

@media screen and (max-width: 400px) {
  h1.title {
    font-size: 5rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  input.start,
  input[type="text"] {
    font-size: 2rem;
  }
  label {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  button {
    font-size: 3rem;
  }
}
